<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <p>Course: {{ string }}</p>
    {% set module_list = dir_list %}
   <ul>
    {% for module in module_list %}
        <li>{{ module }}</li>
    {% endfor %}
   </ul>
</body>
</html>