<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <a href="http://127.0.0.1:5000/courses/python">{{python}}</a>
  <a href="http://127.0.0.1:5000/courses/C++">{{c}}</a>
  <a href="http://127.0.0.1:5000/courses/algorithms">{{algorithms}}</a>

</body>
</html>